<% layout('layouts/boilerplate') -%>
<h1>Edit post!</h1>

<form action="/posts/<%= post.id %>?_method=PUT" method='POST' id='postEditForm' enctype='multipart/form-data'>
    <div><input type='text' placeholder='Title' name='post[title]' value='<%= post.title %>'></div>
    <div><input type='number' step='.01' min='0' placeholder='Price' name='post[price]' value='<%= post.price %>'></div>
     <div>
         <input type='file' id='imageUpload' accept='images/*' name='images' multiple />
         <div>
             <% post.images.forEach(function(image, i){ %>
                <img src='<%= image.url %>' width='100px' />
                <label for='image<%= i %>' >Delete?</label>
                <input type='checkbox' name='deleteImages[]' class='imageDeleteCheckbox' id='image<%= i %>' value='<%= image.public_id %>'>
             <% }); %>
         </div>
     </div>
    <div><textarea placeholder='Description' name='post[description]'><%= post.description %></textarea></div>
    <div><input type='text' placeholder='Location' name='post[location]' value='<%= post.location %>'></div>
    
    <input type='submit'>
</form>

<script src='/javascripts/post-edit.js'></script>